/*start loading page*/


/* start global */

body {position: relative;}

@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('sf-ui-display-light-58646b33e0551.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('sf-ui-display-medium-58646be638f96.woff') format('woff');
    }

    @font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('sf-ui-display-bold-58646a511e3d9.woff') format('woff');
    }
    
h1, h2, h3, h4,h5 { font-family: 'Saira', sans-serif; font-weight: 500;}
p { font-family: 'Saira', sans-serif;}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.upper {text-transform: uppercase; }

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.mybtn {
    background: transparent;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    -webkit-transition: all .4s ease-in-out ;
    -moz-transition: all .4s ease-in-out ;
    -o-transition: all .4s ease-in-out ;
    transition: all .4s ease-in-out ;
}

.mybtn:hover {
    background-color: #6AB571;
    border: 2px solid #6AB571;
}

a {text-decoration: none; color: transparent;}
a:hover {text-decoration: none}

/* end global */

/* start navbar */

nav.navbar.navbar-default.sidar-right {
    margin: 50px 100px 0 0;
}
nav.navbar.navbar-default {
    background: TRANSPARENT;
    border: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0 !important;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 0 0;
    margin: 0 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #45a4add6;
    background-clip: none;
    border: 1px solid #ccc;
    border: none;
    border-radius: 4px;
}
ul.nav.navbar-nav.navbar-right li a {

    color: white;
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('../fonts/Newfolder/bold.woff') format('woff');
}  
ul.nav.navbar-nav.navbar-right li a:hover{
color: blue;
} 

.sigin-page {
    background-image: url(../img/cover.png);
    height: 100vh;
    background: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* button */
.mybtn {
    width: 206px;
    height: 41px;
    background-image: linear-gradient(to right, #1CE0DA, #479DE4);
    border-color: #467da7fc;
    color: #eae8e3;
    border-radius: 5PX;
    box-shadow: 0 0 2px 0px #ffffffa8;
}
.mybtn:hover{
box-shadow: 0 0 6px 0px #ffffffa8;
}
/* button */

/* start sidbar header holder */
.sidbar-header h2 {
    color: #28cedd;
    font-size: 44px;
    font-weight: bold;
}
.sidbar-header p {
    color: #b9b5b5;
}
.sidbar-header {
    position: absolute;
    top: 64px;
    left: 30px;
}
.sidbar-header-holdr{
    position: relative; ;
}

/*end sidbar header holder  */


/* start sidbar header suvey */
.sidbar-suvey-holder {
    height: 81vh;
}
.sidbar-suvey {
    position: absolute;
    bottom: 0;
    right: 0;
}
.sidbar-suvey a img {
    max-width: 197px;
}
.sidbar-suvey ul {
    list-style: none;
    padding-left: 0;
}
.sidbar-suvey ul li {
    display: inline-block;
}
.sidbar-suvey ul li a {
    margin-left: 4px;
}

.sidbar-suvey ul li h2 {
    font-size: 13px;
    margin: 0;
    margin-left: 4px;
    margin-bottom: 3px;
    font-weight: bold;
    color: #28cedd;
    margin-top: 10px;
}
.sidbar-suvey ul li p {
    color: #c5c0c0;
    margin-left: 4px;
    margin-bottom: 0;
}
.sidbar-suvey-header h2 {
    float: left;
    color: #28cedd;
    font-size: 19px;
    margin-left: 3px;
}
.sidbar-suvey-header p {
    float: right;
}
.clear {
    clear: both;
}
.sidbar-suvey-header p a {
    color: #b9b2b2;
    margin-right: 13px;
    text-decoration: none;
}
.sidbar-suvey-header p {
    float: right;
    margin-bottom: 0;
    margin-top: 22px;
    margin-right: 80px;
}
.sidbar-suvey-header i.fa.fa-chevron-right {
    color: #b9b2b2;
    font-size: 9px;
}
.col-md-11.Sidebar {
    padding-right: 0;
}
ul.nav.navbar-nav.navbar-right li {
    margin-left: 17px;
}
ul.nav.navbar-nav.navbar-right li a:hover {
    color: #28cedd;
}
ul.nav.navbar-nav.navbar-right li a.active {
    color: #28cedd;
}





/* start sidebar */

.sidebar-logo a img {
    width: 63%;
    margin-top: 20px;
}
.sidebar-logo {
    position: absolute;
    top: 8px;
    left:9px;
}
.Sidebar-social-media ul li {
    list-style: none;
    margin-top: 11px;
}

.Sidebar-social-media ul li a {
    color: #22d6db;
}
.Sidebar-holder {
    height: 100vh;
    background: #1f3149;
}
.Sidebar-social-media {
    position: absolute;
    bottom: 13px;
    left: 8px;
}
.col-md-1.Sidebar {
    padding: 0;
}
.Sidebar-holder a img {
    width: 54%;
    margin-top: 36px;
    margin-left: 16px;
}